/* var para as cores */

:root{
    --backgroundColor: hsl(212, 45%, 89%);
    --containerPrincipal: hsl(0, 0%, 100%);
    --titulo: hsl(217, 58%, 32%);
    --textoPrincipal: hsl(220, 15%, 55%);
}

/* Reset */

*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

/* Background */

body{
    width: 100%;
    height: 100vh;

    display: grid;
    place-items: center;

    background-color: var(--backgroundColor);
}

/* Estilizando as Classes */

.containerPrincipal{
    height: 550px;
    width: 350px;

    display: flex;
    align-items: center;

    background-color: var(--containerPrincipal);

    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px rgba(151, 151, 151, 0.822);
}

.containerPrincipal{
    animation: carregamentoDaTela;
    animation-duration: 3.2s;
}

.ContainerSecundario{
    height: 520px;
    width: 320px;

    margin: 0 auto;
}

.imagem img{
    height: 320px;
    width: 320px;

    border-radius: 15px;

    cursor: pointer;
}

.imagem img:active{
    animation: imagemTeste;
    animation-duration: 6s;
    animation-timing-function: linear;
}

.titulo{
    width: 100%;
    text-align: center;

    font-family: 'Outfit', sans-serif;
    font-weight: 700;

    margin-top: 28px;

    color: var(--titulo);
}

.textoPrincipal{

    width: 84%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    color: var(--textoPrincipal);
    margin-top: 26px;
}

/* animações */

@keyframes carregamentoDaTela{
    from{
        opacity: 10%;
    }
    to{
        opacity: 100%;
    }
}

@keyframes imagemTeste{
    0%{
        transform: scaleX(1);
    }
    50%{
        transform: scaleX(0);
    }
    
}